# fastapi
# psycopg2-binary
# uvicorn
# dotenv
# PyJWT
# statsmodels
# scikit-learn
# matplotlib
# pyarrow
# fastparquet
# redis
# boto3
# joblib

# authlib 
# werkzeug 
# flask 
# requests
# pycognito

# cryptography
# python-dotenv
# boto3
# pydantic

# email-validator
# steam-market-s3-utils
fastapi
psycopg2-binary
uvicorn
python-dotenv
PyJWT
redis
boto3
requests
pycognito
cryptography
pydantic
email-validator