fastapi
psycopg2-binary
uvicorn
dotenv
PyJWT
statsmodels
scikit-learn
matplotlib
pyarrow
fastparquet
redis
boto3
joblib

# AWS Cognito
authlib 
werkzeug 
flask 
requests
pycognito

cryptography
python-dotenv
boto3
pydantic